<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="form-group" >
      <label for="nomEns">
        Nom :
      </label>
      <input type="text" id="nomEns" #nomEns class="form-control " name="nom" >
      <label for="prenomEns">
        Prenom :
      </label>
      <input type="text" id="prenomEns" #prenomEns class="form-control"  name="prenom" >


      <label for="emailEns">
        Mail :
      </label>
      <input type="text" id="emailEns" #emailEns class="form-control" name="email" >

    </div>
    <button id="btn" (click)="add(nomEns.value,prenomEns.value,emailEns.value);"
            class="btn btn-primary">Enregistrer</button>

  </div>
</div>
